<%= render "base" %>

<div class="box">
  <%= render "menu" %>

  <div class="tab-content">
    <%= render "topics_pane" %>
    <%= render "pages_pane" %>
  </div>
</div>

<script type="text/javascript">
  $(".tab-content").highlight("<%= @q %>");
</script>
